/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Righteous&display=swap');
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
header {
  background-image: url(../images/banners/jesse-g-c--4_XI_yXGDw-unsplash.jpg);
  height: 260px;
  background-position: 50% 78%;
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: Righteous, sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}
.inspiro-img {
  width: 400px;
} 
.white-text {
  color: white
}