* {
    box-sizing: border-box;
  }
  .home-page,body {
    margin: 0;
    background-image: url("/gmurrey.github.io/Projects/images/home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
  }
  .shutter-page,body {
    margin: 0;
    background-image: url("/gmurrey.github.io/Projects/images/shutter-speed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
  }
  .aperture-page,body {
    margin: 0;
    background-image: url("/gmurrey.github.io/Projects/images/aperture.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
  }

  .whiteBalance-page,body {
    margin: 0;
    background-image: url("/gmurrey.github.io/Projects/images/white-balance.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
  }

  .iso-page,body {
    margin: 0;
    background-image: url("/gmurrey.github.io/Projects/images/iso.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
  }
  main div {

  }
  
  main article {
    border: none
  }

  body {
    font-family: freight-text-pro, serif;
    font-weight: 500;
    font-style: normal;
  }
  
  main {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: none
  }

  a:link {
  font-family: temeraire, serif;
  text-decoration: none;
  color: white;
}

.left,
.right {
  flex: 15%;
}

.left h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 1rem;
  color: white;
}

.right h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 1rem;
  color: white;
}

.shutter-page .left h1 {
  color: white;
  font-size: 7vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
  padding-bottom: 1.5vw;
}

.aperture-page .right h1 {
  color: white;
  font-size: 7vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
}

.iso-page .top h1 {
  color: white;
  font-size: 7vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
  position: fixed;
  left: 8%;
  right: 0;
}

.whiteBalance-page .top h1 {
  color: white;
  font-size: 7vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
  position: fixed;
  left: 8%;
  right: 0;
}

.home-page .top h1 {
  color: white;
  font-size: 7vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
  position: fixed;
  right: 11%;

}

.middle {
  flex: 65%;
  display: flex;
  flex-direction: column;
}

.middle .top {
  flex: 15%;
}

.flexmeyoujerk {
  flex: 85%;
}

.home-page .button_menu{
  position: fixed;
  top: 10%;
  text-align: center;
  font-size: 5vw;
}
.aperture-page .bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.middle .content {
  flex: 60%;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button_menu {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vw;
}

.accordian{
  margin: 2.5rem;
  display: flex;
  align-items: flex-start;
}

.accordian-item{
  background-color: #333333;
  color: white;
  margin: 1rem;
  border-radius: .5rem;
  min-width: 250px;
  flex: 1;
  opacity: 0.85;
}

.accordian-item-header{
  padding: 15px 15px 15px 15px;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 2.5vw;
  font-family: temeraire, serif;
  font-weight: 900;
  font-style: normal;
}

.accordian-item-header::after{
  content: "\25BE";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.4s ease-in-out;
}

.accordian-item-header.active::after{
  transform: rotate(180deg);
}

.accordian-item-body{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.accordian-item-body-content{
  padding: 1rem;
  line-height: 1.8rem;
  font-family: freight-text-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8vw;
}
